Package: com.iTheGentle.SaveBot
Name: SaveBot
Depends: mobilesubstrate
Version: 1.9
Architecture: iphoneos-arm
Description: Save Videos From TweetBot
Maintainer: iTheGentle
Author: iTheGentle
Section: Tweaks
